<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ARF_Production" connectionString="Data Source=ORLV-SQL01;Initial Catalog=ARF_Production;Persist Security Info=True;User ID=arfservice;Password=l1l@b0c" providerName="System.Data.SqlClient" />
    <add name="ARF_Prod_ConnStr" connectionString="Data Source=ORLV-SQL01;Initial Catalog=ARF_Production;Persist Security Info=True;User ID=arfservice;Password=l1l@b0c" providerName="System.Data.SqlClient" />
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="Data Source=ORLV-SQL01;Initial Catalog=ARF_Security;Persist Security Info=True;User ID=arfservice;Password=l1l@b0c" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
  <customErrors defaultRedirect="~/ErrorCustom.aspx" mode="RemoteOnly" /> 
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
         <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
    </pages>
    <httpHandlers>
       <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" /> 
    </httpHandlers>
  <httpRuntime targetFramework="4.5" />
  <httpModules />
    
    
 <!-- <authorization>
      <allow roles="MobileAdmin, DPSales, DPFinance" />
      <deny users="*" /> 
    </authorization> -->
  <roleManager enabled="true" />
  <authentication mode="Forms">
    <forms loginUrl="login.aspx" defaultUrl="Secure_MobileAdmin\DPAppList.aspx" />
  </authentication>
  
  
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="false" />
	<httpErrors errorMode="Custom">
            <error statusCode="403" subStatusCode="4" path="https://www1.uw4arf.com/Defaults.aspx" responseMode="Redirect" />
        </httpErrors> 
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="Telerik_Web_UI_WebResource_axd" />
      
      <remove name="ChartImage_axd" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" /><add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
    </handlers>
  <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <appSettings>
  
  

    <!-- USPS Address Validation API -->
    <add key="USPSAPIURL" value="https://secure.shippingapis.com/ShippingAPITest.dll" />
    <!--FOR TESTING -->
    <!--<add key="USPSAPIURL" value="https://secure.shippingapis.com/ShippingAPI.dll"/> -->
    <!--PRODUCTION UW4ARF.COM Only!!! -->
    <add key="USPSAPIUserID" value="935ARFFI6902" />
  <add key="Telerik.ScriptManager.TelerikCdn" value="Disabled" />
  <add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />
    
  </appSettings>
</configuration>